# Objective
- 유료 고객으로 전환 여부 분류

In [1]:
import pandas as pd
from datetime import datetime

In [2]:
data_dict = pd.read_excel('../365_data_dictionary.xlsx')
data_dict

,Table,Number of Records,Table Description,Column,Column Description
0,365_student_info,35230.0,Stores information about the students,student_id,The unique identification of a student
1,NaN,NaN,NaN,student_country,The country a student has filled in
2,NaN,NaN,NaN,date_registered,The student's registration date
3,NaN,NaN,NaN,NaN,NaN
4,365_student_purchases,3041.0,Stores information about the students' subscri...,purchase_id,The unique number of each subscription purchased
5,NaN,NaN,NaN,student_id,The unique identification of a student
6,NaN,NaN,NaN,purchase_type,The type of subscription a student has purchas...
7,NaN,NaN,NaN,date_purchased,The date of purchase
8,NaN,NaN,NaN,NaN,NaN
9,365_student_learning,64535.0,Stores information about the courses a student...,student_id,The unique identification of a student
10,NaN,NaN,NaN,course_id,The unique identification of a course
11,NaN,NaN,NaN,minutes_watched,"The minutes watched by the given student, on t..."
12,NaN,NaN,NaN,date_watched,The date the student watched the course
13,NaN,NaN,NaN,NaN,NaN
14,365_course_info,46.0,Stores information about the courses on the pl...,course_id,The unique identification of a course
15,NaN,NaN,NaN,course_title,The title of a course
16,NaN,NaN,NaN,NaN,NaN
17,365_course_ratings,2500.0,Stores information about the ratings each cour...,course_id,The unique identification of a course
18,NaN,NaN,NaN,student_id,The unique identification of a student
19,NaN,NaN,NaN,course_rating,The rating a student has given
20,NaN,NaN,NaN,date_rated,The date the student rated the course
21,NaN,NaN,NaN,NaN,NaN
22,365_student_quizzes,147029.0,Stores information about the students' perform...,student_id,The unique identification of a student
23,NaN,NaN,NaN,quiz_id,The unique identification of a quiz
24,NaN,NaN,NaN,question_id,The unique identification of a question
25,NaN,NaN,NaN,answer_id,The unique identification of the answer a stud...
26,NaN,NaN,NaN,NaN,NaN
27,365_quiz_info,4741.0,Stores information about the quizzes on the pl...,quiz_id,The unique number of each quiz
28,NaN,NaN,NaN,question_id,The unique number of a question
29,NaN,NaN,NaN,answer_id,The unique identification of an answer
30,NaN,NaN,NaN,answer_correct,Whether the answer to the quiz is correct or n...
31,NaN,NaN,NaN,NaN,NaN
32,365_student_exams,34030.0,Stores information about the students' perform...,exam_attempt_id,The unique identification of any exam any stud...
33,NaN,NaN,NaN,student_id,The unique identification of a student
34,NaN,NaN,NaN,exam_id,The unique identification of an exam
35,NaN,NaN,NaN,exam_result,The exam result the student has received (in p...
36,NaN,NaN,NaN,exam_completion_time,The time it took the student to complete the e...
37,NaN,NaN,NaN,date_exam_completed,The date the student completed the exam
38,NaN,NaN,NaN,NaN,NaN
39,365_exam_info,156.0,Stores information about the exams available o...,exam_id,The unique identification of an exam
40,NaN,NaN,NaN,exam_category,"The category of the exam, which can be:\n1 - C..."
41,NaN,NaN,NaN,exam_duration,The maximum time allowed to complete the exam ...
42,NaN,NaN,NaN,NaN,NaN
43,365_student_engagement,65371.0,Stores information about the students' daily e...,engagement_id,"The unique number of each engagement, which ca..."
44,NaN,NaN,NaN,student_id,The unique identification of a student
45,NaN,NaN,NaN,engagement_quizzes,Whether a student has attempted a quiz on the ...
46,NaN,NaN,NaN,engagement_exams,Whether a student has attempted an exam on the...
47,NaN,NaN,NaN,engagement_lessons,Whether a student has watched a video on the g...
48,NaN,NaN,NaN,date_engaged,The date of the engagement
49,NaN,NaN,NaN,NaN,NaN
50,365_student_hub_questions,827.0,Stores information about the questions asked b...,hub_question_id,The unique identification of a question in the...
51,NaN,NaN,NaN,student_id,The unique identification of a student
52,NaN,NaN,NaN,date_question_asked,The date the question has been asked

In [3]:
course_info = pd.read_csv('./365_database/365_course_info.csv')
ratings = pd.read_csv('./365_database/365_course_ratings.csv')
exam_info = pd.read_csv('./365_database/365_exam_info.csv')
quiz_info = pd.read_csv('./365_database/365_quiz_info.csv')
student_engagement = pd.read_csv('./365_database/365_student_engagement.csv')
student_exams = pd.read_csv('./365_database/365_student_exams.csv')
student_hub_questions = pd.read_csv('./365_database/365_student_hub_questions.csv')
student_info = pd.read_csv('./365_database/365_student_info.csv')
student_learning = pd.read_csv('./365_database/365_student_learning.csv')
student_purchases = pd.read_csv('./365_database/365_student_purchases.csv')
student_quizzes = pd.read_csv('./365_database/365_student_quizzes.csv')

In [4]:
student_purchases['date_purchased'] = pd.to_datetime(student_purchases['date_purchased'])
student_purchases

      purchase_id  student_id purchase_type date_purchased
0           15781      258800        Annual     2022-01-01
1           15786      258803        Annual     2022-01-01
2           15808      258862        Annual     2022-01-01
3           15809      258865        Annual     2022-01-01
4           15811      258878        Annual     2022-01-01
...           ...         ...           ...            ...
3036        23148      278055       Monthly     2022-10-20
3037        23150      270103        Annual     2022-10-20
3038        23151      270824       Monthly     2022-10-20
3039        23152      295497       Monthly     2022-10-20
3040        23153      295506        Annual     2022-10-20

[3041 rows x 4 columns]

In [5]:
student_purchases.value_counts('purchase_type')

purchase_type
Annual       1547
Monthly      1444
Quarterly      50
dtype: int64

In [6]:
sale_duration = {'Winder Sale 2022':[datetime(2022,1,17), datetime(2022,1,28)],
                'Spring Special Offer 2022':[datetime(2022,3,21), datetime(2022,3,31)],
                'Data Science Summer Campaign 2022':[datetime(2022,5,20), datetime(2022,6,1)],
                'Most Wanted Campaign':[datetime(2022,7,18), datetime(2022,7,29)],
                'Platform gamification':[datetime(2022,9,16), datetime(2022,9,16)],
                'Data Science Hero Campaign':[datetime(2022,9,19), datetime(2022,9,30)]}

In [7]:
sale_purchase = {}
for t,(s,e) in sale_duration.items():
    sale_student = student_purchases[(student_purchases['date_purchased']>=s)&(student_purchases['date_purchased']<=e)]
    sale_purchase[t] = sale_student

sum_d = 0
for t, d in sale_purchase.items():
    print(t, len(d))
    sum_d += len(d)
    
print(sum_d)

Winder Sale 2022 179
Spring Special Offer 2022 161
Data Science Summer Campaign 2022 237
Most Wanted Campaign 233
Platform gamification 8
Data Science Hero Campaign 238
1056

In [8]:
sum_d / len(student_purchases)

0.3472541926997698

In [9]:
print(len(student_purchases.student_id.unique()))
paid_student = student_purchases.student_id.unique()

2135

In [11]:
student_info

       student_id student_country date_registered
0          258798              IN      2022-01-01
1          258799              CO      2022-01-01
2          258800              CA      2022-01-01
3          258801              IN      2022-01-01
4          258802              US      2022-01-01
...           ...             ...             ...
35225      295511              CM      2022-10-20
35226      295512              CA      2022-10-20
35227      295513              SA      2022-10-20
35228      295514              NL      2022-10-20
35229      295515              SG      2022-10-20

[35230 rows x 3 columns]

In [12]:
paid = [1 if i in paid_student else 0 for i in student_info.student_id]
student_info['paid'] = paid
student_info

       student_id student_country date_registered  paid
0          258798              IN      2022-01-01     0
1          258799              CO      2022-01-01     0
2          258800              CA      2022-01-01     1
3          258801              IN      2022-01-01     0
4          258802              US      2022-01-01     0
...           ...             ...             ...   ...
35225      295511              CM      2022-10-20     0
35226      295512              CA      2022-10-20     0
35227      295513              SA      2022-10-20     0
35228      295514              NL      2022-10-20     0
35229      295515              SG      2022-10-20     0

[35230 rows x 4 columns]

## 비교 분석
1. 구매 경험 있는 학생, 없는 학생 구분  
2. 구매 경험 있는 학생의 구매 전 패턴 추출
3. 구매 전 패턴과 구매 경험 없는 학생의 유사도 측정

In [25]:
paid_student

array([258800, 258803, 258862, ..., 289049, 295497, 295506])

In [ ]:
# info
course_info = pd.read_csv('./365_database/365_course_info.csv')
exam_info = pd.read_csv('./365_database/365_exam_info.csv')
quiz_info = pd.read_csv('./365_database/365_quiz_info.csv')
student_info = pd.read_csv('./365_database/365_student_info.csv')

# 학생 활동
ratings = pd.read_csv('./365_database/365_course_ratings.csv')
student_engagement = pd.read_csv('./365_database/365_student_engagement.csv')
student_exams = pd.read_csv('./365_database/365_student_exams.csv')
student_hub_questions = pd.read_csv('./365_database/365_student_hub_questions.csv')
student_learning = pd.read_csv('./365_database/365_student_learning.csv')
student_purchases = pd.read_csv('./365_database/365_student_purchases.csv')
student_quizzes = pd.read_csv('./365_database/365_student_quizzes.csv')

## example
- 학생 id : 258832
- 구매 날짜 : 2022-3-5

In [30]:
# student_learning
student_learning[(student_learning.student_id == 258832)&(student_learning.date_watched < '2022-03-05')]

     student_id  course_id  minutes_watched date_watched
167      258832         21              0.9   2022-01-01
168      258832         21             13.2   2022-01-05
169      258832         21             14.4   2022-01-06
170      258832         21             42.3   2022-01-09
175      258832         39              0.1   2022-03-01
176      258832         39              0.3   2022-02-28

In [35]:
# student_engagement
student_engagement[(student_engagement.student_id == 258832)&(student_engagement.date_engaged < '2022-03-05')]

,engagement_id,student_id,engagement_quizzes,engagement_exams,engagement_lessons,date_engaged
90,110960,258832,1,0,1,2022-01-05
91,110961,258832,1,0,1,2022-01-06
92,110962,258832,1,0,1,2022-01-09
12237,378753,258832,0,0,1,2022-01-01
12239,378755,258832,0,0,1,2022-02-28
12240,378756,258832,0,0,1,2022-03-01

In [39]:
student_exams[(student_exams.student_id == 258832)&(student_exams.date_exam_completed < '2022-03-05')]

Empty DataFrame
Columns: [exam_attempt_id, student_id, exam_id, exam_result, exam_completion_time, date_exam_completed]
Index: []

In [42]:
student_quizzes[student_quizzes.student_id == 258832]

      student_id  quiz_id  question_id  answer_id
1112      258832      248         1088     4290.0
1113      258832      248         1089     4294.0
1118      258832      249          823     3253.0
1119      258832      249          824     3254.0
1309      258832      250          825     3257.0
1310      258832      250          826     3263.0
1313      258832      251          827     3267.0
1314      258832      252          828     3270.0
1956      258832      253          829     3276.0
2044      258832      254          312     1233.0
2049      258832      255          841     3323.0

In [44]:
quiz_info[quiz_info.quiz_id == 248]

      quiz_id  question_id  answer_id answer_correct
1254      248          318       1255              n
1255      248          318       1256              n
1256      248          318       1257              y
1257      248          318       1258              n
1274      248          323       1275              n
1275      248          323       1276              n
1276      248          323       1277              y
1277      248          323       1278              n
2871      248          739       2872              n
2872      248          739       2873              n
2873      248          739       2874              y
2874      248          739       2875              n
2875      248          740       2876              n
2876      248          740       2877              n
2877      248          740       2878              y
2878      248          740       2879              n
3933      248         1000       3950              n
3934      248         1000       3951              n
3935      248         1000       3952              y
3936      248         1000       3953              n
4271      248         1088       4288              n
4272      248         1088       4289              n
4273      248         1088       4290              y
4274      248         1088       4291              n
4275      248         1089       4292              n
4276      248         1089       4293              n
4277      248         1089       4294              y
4278      248         1089       4295              n

In [43]:
quiz_info

      quiz_id  question_id  answer_id answer_correct
0           1            1          1              n
1           1            1          2              y
2           1            1          3              n
3           1            1          4              n
4           2            2          5              n
...       ...          ...        ...            ...
4736      579         1257       4753              y
4737      580         1258       4754              n
4738      580         1258       4755              y
4739      580         1258       4756              n
4740      580         1258       4757              n

[4741 rows x 4 columns]

In [47]:
student_hub_questions[student_hub_questions.student_id == 258832]

Empty DataFrame
Columns: [hub_question_id, student_id, date_question_asked]
Index: []

# 1/26 정리
- 비교 분석 방향 설정
- 예시 1가지 경우 확인
-

# 공부할 것
- 유사도 구하는 법
- 필요한 테이블, feature 추리기
- 구체적 방법 설계
- hub, rating에서 구매 학생과 아닌 학생의 비중 구하기
- 구매 전 횟수, 총 시간, 시험 등을 타당하게 유사도 계산이 가능하게 어떻게 조작해야할지 고민 필요

In [24]:
stubuy = student_purchases.groupby('student_id')
list(stubuy)

[(258800,
     purchase_id  student_id purchase_type date_purchased
  0        15781      258800        Annual     2022-01-01),
 (258803,
     purchase_id  student_id purchase_type date_purchased
  1        15786      258803        Annual     2022-01-01),
 (258818,
      purchase_id  student_id purchase_type date_purchased
  10        15845      258818        Annual     2022-01-03),
 (258822,
      purchase_id  student_id purchase_type date_purchased
  34        15941      258822       Monthly     2022-01-09),
 (258832,
       purchase_id  student_id purchase_type date_purchased
  519        17437      258832       Monthly     2022-03-05),
 (258862,
     purchase_id  student_id purchase_type date_purchased
  2        15808      258862        Annual     2022-01-01),
 (258865,
     purchase_id  student_id purchase_type date_purchased
  3        15809      258865        Annual     2022-01-01),
 (258878,
     purchase_id  student_id purchase_type date_purchased
  4        15811      258878        Annual     2022-01-01),
 (258883,
       purchase_id  student_id purchase_type date_purchased
  365        16973      258883        Annual     2022-01-01),
 (258908,
     purchase_id  student_id purchase_type date_purchased
  5        15813      258908       Monthly     2022-01-01),
 (258913,
       purchase_id  student_id purchase_type date_purchased
  224        16544      258913        Annual     2022-01-27),
 (258916,
     purchase_id  student_id purchase_type date_purchased
  6        15816      258916        Annual     2022-01-02),
 (258922,
      purchase_id  student_id purchase_type date_purchased
  13        15862      258922        Annual     2022-01-04),
 (258930,
       purchase_id  student_id purchase_type date_purchased
  409        17124      258930       Monthly     2022-02-19
  732        18010      258930        Annual     2022-03-28),
 (258955,
      purchase_id  student_id purchase_type date_purchased
  11        15846      258955        Annual     2022-01-03),
 (258956,
        purchase_id  student_id purchase_type date_purchased
  801         18158      258956       Monthly     2022-03-31
  1079        18983      258956       Monthly     2022-04-30
  1411        19738      258956       Monthly     2022-05-31
  1745        20476      258956       Monthly     2022-06-30),
 (258971,
      purchase_id  student_id purchase_type date_purchased
  38        15956      258971       Monthly     2022-01-09),
 (258980,
      purchase_id  student_id purchase_type date_purchased
  31        15933      258980        Annual     2022-01-08),
 (258984,
     purchase_id  student_id purchase_type date_purchased
  7        15827      258984        Annual     2022-01-02),
 (259026,
        purchase_id  student_id purchase_type date_purchased
  16          15867      259026       Monthly     2022-01-04
  288         16736      259026       Monthly     2022-02-04
  509         17415      259026       Monthly     2022-03-04
  836         18250      259026       Monthly     2022-04-04
  1105        19053      259026       Monthly     2022-05-04),
 (259028,
      purchase_id  student_id purchase_type date_purchased
  14        15863      259028       Monthly     2022-01-04),
 (259039,
        purchase_id  student_id purchase_type date_purchased
  8           15829      259039       Monthly     2022-01-02
  278         16701      259039       Monthly     2022-02-02
  496         17380      259039       Monthly     2022-03-02
  824         18222      259039       Monthly     2022-04-02
  1092        19026      259039       Monthly     2022-05-02),
 (259054,
       purchase_id  student_id purchase_type date_purchased
  227        16547      259054        Annual     2022-01-27),
 (259070,
       purchase_id  student_id purchase_type date_purchased
  366        16974      259070        Annual     2022-01-03),
 (259106,
     purchase_id  student_id purchase_type date_purchased
  9        15844      259106        Annual     2022-01-03),
 (259171,
       purchase_id  student_id purchase_type date_purchased
  188        16459      259171     Quarterly     2022-01-25),
 (259174,
      purchase_id  student_id purchase_type date_purchased
  24        15905      259174        Annual     2022-01-07),
 (259190,
        purchase_id  student_id purchase_type date_purchased
  1923        20904      259190        Annual     2022-07-18),
 (259209,
      purchase_id  student_id purchase_type date_purchased
  12        15853      259209        Annual     2022-01-04),
 (259258,
        purchase_id  student_id purchase_type date_purchased
  15          15865      259258       Monthly     2022-01-04
  287         16733      259258       Monthly     2022-02-04
  507         17408      259258       Monthly     2022-03-04
  837         18255      259258       Monthly     2022-04-04
  1107        19061      259258       Monthly     2022-05-04
  1509        19952      259258       Monthly     2022-06-04
  1777        20569      259258       Monthly     2022-07-04
  2186        21430      259258       Monthly     2022-08-04
  2480        22053      259258       Monthly     2022-09-04
  2838        22749      259258        Annual     2022-09-30),
 (259260,
      purchase_id  student_id purchase_type date_purchased
  30        15932      259260        Annual     2022-01-08),
 (259262,
      purchase_id  student_id purchase_type date_purchased
  54        15992      259262        Annual     2022-01-11),
 (259268,
      purchase_id  student_id purchase_type date_purchased
  19        15885      259268       Monthly     2022-01-05),
 (259273,
      purchase_id  student_id purchase_type date_purchased
  17        15869      259273       Monthly     2022-01-04),
 (259283,
       purchase_id  student_id purchase_type date_purchased
  40         15958      259283       Monthly     2022-01-09
  164        16408      259283        Annual     2022-01-24
  324        16868      259283       Monthly     2022-02-09),
 (259300,
       purchase_id  student_id purchase_type date_purchased
  200        16492      259300        Annual     2022-01-26),
 (259305,
       purchase_id  student_id purchase_type date_purchased
  18         15872      259305       Monthly     2022-01-05
  302        16777      259305       Monthly     2022-02-06),
 (259361,
        purchase_id  student_id purchase_type date_purchased
  2109        21288      259361        Annual     2022-07-28),
 (259408,
       purchase_id  student_id purchase_type date_purchased
  20         15889      259408       Monthly     2022-01-05
  292        16752      259408       Monthly     2022-02-05
  516        17425      259408       Monthly     2022-03-05),
 (259429,
      purchase_id  student_id purchase_type date_purchased
  21        15890      259429        Annual     2022-01-06),
 (259437,
      purchase_id  student_id purchase_type date_purchased
  56        15996      259437        Annual     2022-01-11),
 (259447,
      purchase_id  student_id purchase_type date_purchased
  22        15891      259447        Annual     2022-01-06),
 (259464,
      purchase_id  student_id purchase_type date_purchased
  71        16051      259464       Monthly     2022-01-13),
 (259473,
      purchase_id  student_id purchase_type date_purchased
  45        15971      259473        Annual     2022-01-10),
 (259476,
      purchase_id  student_id purchase_type date_purchased
  36        15954      259476       Monthly     2022-01-09),
 (259483,
       purchase_id  student_id purchase_type date_purchased
  132        16318      259483        Annual     2022-01-21),
 (259486,
        purchase_id  student_id purchase_type date_purchased
  1948        20960      259486        Annual     2022-07-20),
 (259491,
       purchase_id  student_id purchase_type date_purchased
  660        17831      259491        Annual     2022-03-21),
 (259494,
       purchase_id  student_id purchase_type date_purchased
  165        16409      259494        Annual     2022-01-24),
 (259504,
       purchase_id  student_id purchase_type date_purchased
  35         15952      259504       Monthly     2022-01-09
  723        17999      259504        Annual     2022-03-27),
 (259506,
      purchase_id  student_id purchase_type date_purchased
  58        16000      259506        Annual     2022-01-12),
 (259510,
       purchase_id  student_id purchase_type date_purchased
  26         15917      259510       Monthly     2022-01-07
  308        16786      259510       Monthly     2022-02-07),
 (259523,
       purchase_id  student_id purchase_type date_purchased
  171        16422      259523        Annual     2022-01-25),
 (259524,
       purchase_id  student_id purchase_type date_purchased
  205        16499      259524        Annual     2022-01-26),
 (259533,
       purchase_id  student_id purchase_type date_purchased
  729        18007      259533        Annual     2022-03-27),
 (259534,
       purchase_id  student_id purchase_type date_purchased
  23         15903      259534       Monthly     2022-01-06
  301        16775      259534       Monthly     2022-02-06
  525        17446      259534       Monthly     2022-03-06),
 (259549,
      purchase_id  student_id purchase_type date_purchased
  43        15965      259549        Annual     2022-01-10),
 (259614,
      purchase_id  student_id purchase_type date_purchased
  25        15916      259614        Annual     2022-01-07),
 (259635,
      purchase_id  student_id purchase_type date_purchased
  27        15918      259635        Annual     2022-01-07),
 (259657,
      purchase_id  student_id purchase_type date_purchased
  33        15936      259657        Annual     2022-01-08),
 (259664,
      purchase_id  student_id purchase_type date_purchased
  42        15961      259664        Annual     2022-01-10),
 (259684,
      purchase_id  student_id purchase_type date_purchased
  28        15921      259684        Annual     2022-01-08),
 (259689,
       purchase_id  student_id purchase_type date_purchased
  55         15995      259689       Monthly     2022-01-11
  343        16914      259689       Monthly     2022-02-11),
 (259702,
        purchase_id  student_id purchase_type date_purchased
  29          15931      259702       Monthly     2022-01-08
  316         16801      259702       Monthly     2022-02-08
  545         17488      259702       Monthly     2022-03-08
  885         18346      259702       Monthly     2022-04-08
  1150        19165      259702       Monthly     2022-05-08
  1547        20021      259702       Monthly     2022-06-08
  1812        20652      259702       Monthly     2022-07-08
  2233        21511      259702       Monthly     2022-08-08
  2522        22122      259702       Monthly     2022-09-08
  2910        22882      259702       Monthly     2022-10-08),
 (259727,
      purchase_id  student_id purchase_type date_purchased
  32        15934      259727        Annual     2022-01-08),
 (259731,
      purchase_id  student_id purchase_type date_purchased
  44        15966      259731       Monthly     2022-01-10),
 (259767,
       purchase_id  student_id purchase_type date_purchased
  367        16975      259767        Annual     2022-01-09),
 (259777,
       purchase_id  student_id purchase_type date_purchased
  37         15955      259777       Monthly     2022-01-09
  325        16872      259777        Annual     2022-02-09),
 (259781,
       purchase_id  student_id purchase_type date_purchased
  263        16628      259781        Annual     2022-01-27),
 (259834,
      purchase_id  student_id purchase_type date_purchased
  53        15990      259834        Annual     2022-01-11),
 (259846,
        purchase_id  student_id purchase_type date_purchased
  2815        22714      259846        Annual     2022-09-30),
 (259860,
        purchase_id  student_id purchase_type date_purchased
  47          15973      259860       Monthly     2022-01-10
  334         16890      259860       Monthly     2022-02-10
  562         17540      259860       Monthly     2022-03-10
  910         18405      259860       Monthly     2022-04-10
  1168        19209      259860       Monthly     2022-05-10
  1373        19667      259860        Annual     2022-05-29),
 (259862,
      purchase_id  student_id purchase_type date_purchased
  39        15957      259862        Annual     2022-01-09),
 (259865,
       purchase_id  student_id purchase_type date_purchased
  41         15960      259865       Monthly     2022-01-10
  348        16933      259865       Monthly     2022-02-12),
 (259870,
       purchase_id  student_id purchase_type date_purchased
  246        16580      259870        Annual     2022-01-28),
 (259884,
        purchase_id  student_id purchase_type date_purchased
  872         18329      259884       Monthly     2022-04-07
  1139        19147      259884       Monthly     2022-05-07
  1396        19717      259884        Annual     2022-05-30),
 (259938,
       purchase_id  student_id purchase_type date_purchased
  46         15972      259938       Monthly     2022-01-10
  335        16895      259938       Monthly     2022-02-10),
 (259952,
      purchase_id  student_id purchase_type date_purchased
  48        15975      259952        Annual     2022-01-10),
 (259953,
      purchase_id  student_id purchase_type date_purchased
  49        15976      259953        Annual     2022-01-10),
 (259959,
      purchase_id  student_id purchase_type date_purchased
  50        15978      259959        Annual     2022-01-10),
 (259965,
        purchase_id  student_id purchase_type date_purchased
  51          15979      259965       Monthly     2022-01-10
  333         16888      259965       Monthly     2022-02-10
  563         17545      259965       Monthly     2022-03-10
  911         18406      259965       Monthly     2022-04-10
  1166        19206      259965       Monthly     2022-05-10
  1566        20074      259965       Monthly     2022-06-10
  1832        20698      259965       Monthly     2022-07-10
  2255        21558      259965       Monthly     2022-08-10
  2542        22166      259965       Monthly     2022-09-10
  2926        22925      259965       Monthly     2022-10-10),
 (259969,
      purchase_id  student_id purchase_type date_purchased
  57        15999      259969        Annual     2022-01-12),
 (259973,
      purchase_id  student_id purchase_type date_purchased
  59        16001      259973       Monthly     2022-01-11),
 (259996,
        purchase_id  student_id purchase_type date_purchased
  69          16048      259996       Monthly     2022-01-13
  353         16948      259996       Monthly     2022-02-13
  596         17601      259996       Monthly     2022-03-13
  943         18472      259996       Monthly     2022-04-13
  1202        19273      259996       Monthly     2022-05-13
  1595        20126      259996       Monthly     2022-06-13
  1865        20773      259996       Monthly     2022-07-13
  2285        21609      259996       Monthly     2022-08-13),
 (260024,
       purchase_id  student_id purchase_type date_purchased
  195        16480      260024        Annual     2022-01-26),
 (260029,
      purchase_id  student_id purchase_type date_purchased
  52        15987      260029        Annual     2022-01-11),
 (260033,
      purchase_id  student_id purchase_type date_purchased
  97        16169      260033        Annual     2022-01-18),
 (260042,
       purchase_id  student_id purchase_type date_purchased
  405        17108      260042        Annual     2022-02-18),
 (260111,
      purchase_id  student_id purchase_type date_purchased
  60        16003      260111        Annual     2022-01-12),
 (260126,
      purchase_id  student_id purchase_type date_purchased
  61        16007      260126        Annual     2022-01-12),
 (260132,
      purchase_id  student_id purchase_type date_purchased
  62        16011      260132        Annual     2022-01-12),
 (260164,
       purchase_id  student_id purchase_type date_purchased
  66         16023      260164     Quarterly     2022-01-12
  935        18449      260164     Quarterly     2022-04-12),
 (260168,
      purchase_id  student_id purchase_type date_purchased
  63        16020      260168        Annual     2022-01-12),
 (260173,
        purchase_id  student_id purchase_type date_purchased
  67          16027      260173     Quarterly     2022-01-13
  944         18481      260173     Quarterly     2022-04-13
  1864        20765      260173     Quarterly     2022-07-13
  2964        23003      260173     Quarterly     2022-10-13),
 (260176,
       purchase_id  student_id purchase_type date_purchased
  115        16230      260176        Annual     2022-01-19),
 (260180,
        purchase_id  student_id purchase_type date_purchased
  64          16021      260180       Monthly     2022-01-12
  347         16927      260180       Monthly     2022-02-12
  585         17586      260180       Monthly     2022-03-12
  934         18447      260180       Monthly     2022-04-12
  1188        19248      260180       Monthly     2022-05-12),
 (260181,
      purchase_id  student_id purchase_type date_purchased
  65        16022      260181        Annual     2022-01-12),
 (260192,
      purchase_id  student_id purchase_type date_purchased
  70        16050      260192        Annual     2022-01-13),
 (260211,
       purchase_id  student_id purchase_type date_purchased
  77         16084      260211       Monthly     2022-01-14
  364        16971      260211       Monthly     2022-02-14),
 (260216,
       purchase_id  student_id purchase_type date_purchased
  129        16287      260216        Annual     2022-01-21),
 (260217,
      purchase_id  student_id purchase_type date_purchased
  68        16028      260217        Annual     2022-01-13),
 (260291,
      purchase_id  student_id purchase_type date_purchased
  72        16052      260291        Annual     2022-01-13),
 (260321,
      purchase_id  student_id purchase_type date_purchased
  83        16109      260321        Annual     2022-01-15),
 (260324,
      purchase_id  student_id purchase_type date_purchased
  73        16053      260324       Monthly     2022-01-13),
 (260329,
      purchase_id  student_id purchase_type date_purchased
  95        16167      260329        Annual     2022-01-18),
 (260334,
        purchase_id  student_id purchase_type date_purchased
  2066        21188      260334        Annual     2022-07-26),
 (260335,
      purchase_id  student_id purchase_type date_purchased
  74        16055      260335        Annual     2022-01-14),
 (260345,
       purchase_id  student_id purchase_type date_purchased
  184        16450      260345        Annual     2022-01-25),
 (260354,
       purchase_id  student_id purchase_type date_purchased
  75         16057      260354       Monthly     2022-01-14
  363        16969      260354       Monthly     2022-02-14),
 (260356,
       purchase_id  student_id purchase_type date_purchased
  81         16106      260356       Monthly     2022-01-15
  408        17112      260356       Monthly     2022-02-18
  747        18062      260356        Annual     2022-03-29),
 (260423,
      purchase_id  student_id purchase_type date_purchased
  76        16082      260423        Annual     2022-01-14),
 (260465,
        purchase_id  student_id purchase_type date_purchased
  78          16085      260465       Monthly     2022-01-14
  362         16962      260465       Monthly     2022-02-14
  605         17626      260465       Monthly     2022-03-14
  955         18503      260465       Monthly     2022-04-14
  1210        19300      260465       Monthly     2022-05-14
  1605        20152      260465       Monthly     2022-06-14
  1875        20797      260465       Monthly     2022-07-14
  2293        21626      260465       Monthly     2022-08-14
  2573        22229      260465       Monthly     2022-09-14
  2973        23025      260465       Monthly     2022-10-14),
 (260483,